.container-frieds {
  width: 1000px;
  height: 800px;
  display: flex;
  justify-content: center;
}

.ul-frieds {
}

.li-frieds {
}

.container-frieds-list {
}

.img-frieds {
}

.name-frieds {
}

.online-frieds {
}
